[user]
    name = pr0gstar
    email = ch.planken@gmail.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[core]
    pager = delta
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[init]
    defaultBranch = main
[branch]
    sort = -committerdate
[alias]
    start = !git checkout main && git pull && git clean -fd
[includeIf "gitdir:/Users/christoph.planken/"]
    path = ~/.dotfiles/git/.gitconfig.work