<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.ufz.mac.busylight</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0E4D4BE7-3ACF-4120-8EA7-DB7CAA323034</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FD1810C-0998-4D69-B110-9DC6FBDA02EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2288A739-9392-4E21-86E8-8F952D65F9B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2300F798-EFA9-48A7-87EB-778FD4B25EC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304FB903-0D02-47A7-9C8A-A09D999FAF75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87087117-8007-46DB-9076-C8346B4D0435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E14E2BC2-FB74-4C57-9304-FC1920302414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0030A0B-FFA6-439E-A2C6-914C57DD95D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73ED7BCB-361E-4FA1-BEF6-8C723186ACD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87087117-8007-46DB-9076-C8346B4D0435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87087117-8007-46DB-9076-C8346B4D0435</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5C6EC96-7DD4-4DAF-B01C-4D600289CED8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF8A83B8-4229-4B95-8C08-33F2D64A6775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C29C1339-E26C-48B5-96B0-656A2FC7659B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CC639DC-9A39-426D-99D7-29C3868711B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5847479-64F9-454B-B1BE-7ED0747851DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2300F798-EFA9-48A7-87EB-778FD4B25EC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAB692EB-CEAF-475D-9AC0-DD8D82D53341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5C6EC96-7DD4-4DAF-B01C-4D600289CED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FEFC375D-EE9C-4032-8B3B-59A8B877C6FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C29C1339-E26C-48B5-96B0-656A2FC7659B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D36BB0E3-C727-4DC6-BEA3-204B2D27003F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D43FD06D-57EE-405C-8D75-CD9102DB551B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87087117-8007-46DB-9076-C8346B4D0435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4CDE5EF-D549-4AAE-9B10-8B95B4D69D06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E4D4BE7-3ACF-4120-8EA7-DB7CAA323034</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D36BB0E3-C727-4DC6-BEA3-204B2D27003F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73ED7BCB-361E-4FA1-BEF6-8C723186ACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D43FD06D-57EE-405C-8D75-CD9102DB551B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>304FB903-0D02-47A7-9C8A-A09D999FAF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5D0C8F6-D6A1-4ED9-BC17-B0C8BAE6BD01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAB692EB-CEAF-475D-9AC0-DD8D82D53341</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEFC375D-EE9C-4032-8B3B-59A8B877C6FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94AB1A71-C0A4-443B-9192-515FC4DF9DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Busylight for Mac</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D5D0C8F6-D6A1-4ED9-BC17-B0C8BAE6BD01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh green</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0030A0B-FFA6-439E-A2C6-914C57DD95D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2288A739-9392-4E21-86E8-8F952D65F9B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh red</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E14E2BC2-FB74-4C57-9304-FC1920302414</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BF8A83B8-4229-4B95-8C08-33F2D64A6775</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh yellow</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FD1810C-0998-4D69-B110-9DC6FBDA02EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Available</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0E4D4BE7-3ACF-4120-8EA7-DB7CAA323034</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh friday</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CC639DC-9A39-426D-99D7-29C3868711B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Away</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D36BB0E3-C727-4DC6-BEA3-204B2D27003F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>jabberstate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D4CDE5EF-D549-4AAE-9B10-8B95B4D69D06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Do not disturb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>73ED7BCB-361E-4FA1-BEF6-8C723186ACD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh party</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94AB1A71-C0A4-443B-9192-515FC4DF9DC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>87087117-8007-46DB-9076-C8346B4D0435</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Meeting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D43FD06D-57EE-405C-8D75-CD9102DB551B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>On a call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>304FB903-0D02-47A7-9C8A-A09D999FAF75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Green</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2300F798-EFA9-48A7-87EB-778FD4B25EC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>busylight</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Change Busylight to {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5847479-64F9-454B-B1BE-7ED0747851DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Yellow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DAB692EB-CEAF-475D-9AC0-DD8D82D53341</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Red</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B5C6EC96-7DD4-4DAF-B01C-4D600289CED8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Party</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FEFC375D-EE9C-4032-8B3B-59A8B877C6FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Friday</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C29C1339-E26C-48B5-96B0-656A2FC7659B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E4D4BE7-3ACF-4120-8EA7-DB7CAA323034</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Available</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>16E1BF91-0C4D-4D8D-9816-1DEC03B4228C</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>2288A739-9392-4E21-86E8-8F952D65F9B6</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>2300F798-EFA9-48A7-87EB-778FD4B25EC0</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Green</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>935</integer>
		</dict>
		<key>304FB903-0D02-47A7-9C8A-A09D999FAF75</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>On a call</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>30DE0BEB-E5F4-49EF-8B36-64BE67E79E49</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>593EECA6-EB51-479E-A2A3-8748ED5AEFA6</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6CC639DC-9A39-426D-99D7-29C3868711B4</key>
		<dict>
			<key>note</key>
			<string>Party</string>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>6FD1810C-0998-4D69-B110-9DC6FBDA02EE</key>
		<dict>
			<key>note</key>
			<string>Yellow</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>73ED7BCB-361E-4FA1-BEF6-8C723186ACD8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Do not disturb</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>87087117-8007-46DB-9076-C8346B4D0435</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>94AB1A71-C0A4-443B-9192-515FC4DF9DC5</key>
		<dict>
			<key>note</key>
			<string>Party</string>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>B5C6EC96-7DD4-4DAF-B01C-4D600289CED8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Red</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>BF8A83B8-4229-4B95-8C08-33F2D64A6775</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>C29C1339-E26C-48B5-96B0-656A2FC7659B</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Friday-Party-Mode</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>C5847479-64F9-454B-B1BE-7ED0747851DC</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>D36BB0E3-C727-4DC6-BEA3-204B2D27003F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Away</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>D43FD06D-57EE-405C-8D75-CD9102DB551B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Meeting</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D4CDE5EF-D549-4AAE-9B10-8B95B4D69D06</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>D5D0C8F6-D6A1-4ED9-BC17-B0C8BAE6BD01</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DAB692EB-CEAF-475D-9AC0-DD8D82D53341</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Yellow</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>E14E2BC2-FB74-4C57-9304-FC1920302414</key>
		<dict>
			<key>note</key>
			<string>Red</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F0030A0B-FFA6-439E-A2C6-914C57DD95D5</key>
		<dict>
			<key>note</key>
			<string>Green</string>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FEFC375D-EE9C-4032-8B3B-59A8B877C6FA</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Friday-Party-Mode</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1245</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
