<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mayuzumi.nightshift</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>C5F17AF6-8A6E-45C3-BDD9-19865977E525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1856BA1E-8C67-4836-B011-01016F82716C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mayuzumi</string>
	<key>description</key>
	<string>Toggle Night Shift on/off or change warm strength</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NightShift</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
./nshift "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1856BA1E-8C67-4836-B011-01016F82716C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>night</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>strength="{query}"
echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
echo "&lt;item uid='off' arg='0' valid='yes'&gt;&lt;title&gt;Turn Night Shift OFF&lt;/title&gt;&lt;subtitle&gt;Warm Strength : 0&lt;/subtitle&gt;&lt;icon&gt;sun.png&lt;/icon&gt;&lt;/item&gt;&lt;item uid='on' arg='50' valid='yes'&gt;&lt;title&gt;Turn Night Shift ON&lt;/title&gt;&lt;subtitle&gt;Warm Strength : 50&lt;/subtitle&gt;&lt;icon&gt;moon.png&lt;/icon&gt;&lt;/item&gt;&lt;item uid='most' arg='100' valid='yes'&gt;&lt;title&gt;Turn Warmth to MOST &lt;/title&gt;&lt;subtitle&gt;Warm Strength : 100&lt;/subtitle&gt;&lt;icon&gt;most.png&lt;/icon&gt;&lt;/item&gt;&lt;item uid='manual' arg='$strength' valid='yes'&gt;&lt;title&gt;Change Warm Strength&lt;/title&gt;&lt;subtitle&gt;Warm Strength : $strength&lt;/subtitle&gt;&lt;icon&gt;warm.png&lt;/icon&gt;&lt;/item&gt;"
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Put in strength value from 0 to 100</string>
				<key>title</key>
				<string>Toggle Night Shift on/off or change warm strength</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C5F17AF6-8A6E-45C3-BDD9-19865977E525</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1856BA1E-8C67-4836-B011-01016F82716C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C5F17AF6-8A6E-45C3-BDD9-19865977E525</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://mayuzumi.me</string>
</dict>
</plist>
