<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.progstar.media.norelaunch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E174D4B-702C-4EB2-940F-991F8E8CFDE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>319746B0-C5D0-4C3F-8E95-EE9842D4C4F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D0A06E9-675E-4DEC-A7C5-623A71D4401E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E174D4B-702C-4EB2-940F-991F8E8CFDE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86934D55-AAC2-4F5A-8676-C08E7526336D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6417959-A400-4BC8-AD54-D52D7ADE4979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86934D55-AAC2-4F5A-8676-C08E7526336D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph Planken</string>
	<key>description</key>
	<string>Shut Down/Restart OS X without Relaunch</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clean Startups</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>defaults write com.apple.loginwindow TALLogoutSavesState -bool false</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86934D55-AAC2-4F5A-8676-C08E7526336D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "System Events"	restartend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6417959-A400-4BC8-AD54-D52D7ADE4979</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart</string>
				<key>subtext</key>
				<string>Restart without Relaunch</string>
				<key>text</key>
				<string>Restart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>Shut Down without Relaunch</string>
				<key>text</key>
				<string>Shut Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3D0A06E9-675E-4DEC-A7C5-623A71D4401E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>defaults write com.apple.loginwindow TALLogoutSavesState -bool false</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E174D4B-702C-4EB2-940F-991F8E8CFDE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "System Events"	shut downend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>319746B0-C5D0-4C3F-8E95-EE9842D4C4F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Original script by David Ferguson (dferg.us), adapted to include shutdown command.</string>
	<key>uidata</key>
	<dict>
		<key>1E174D4B-702C-4EB2-940F-991F8E8CFDE9</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>319746B0-C5D0-4C3F-8E95-EE9842D4C4F4</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>3D0A06E9-675E-4DEC-A7C5-623A71D4401E</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>86934D55-AAC2-4F5A-8676-C08E7526336D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>E6417959-A400-4BC8-AD54-D52D7ADE4979</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
