<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EA498596-48E7-4718-8502-F396C270B44A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4C702F8-7805-4E78-B0EF-6458DE5B62BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5772539D-EEE4-431F-90E1-57F4F439F832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BE6548E-EEF7-4F49-828E-17082E9FDE37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D917633-576A-4544-AE50-5FBE764426E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph Planken</string>
	<key>description</key>
	<string>Starts all Programms relevant for the Office</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Office-Mode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>displayplacer "id:65A85BBA-E9F5-28FB-1F67-75CDD0432EE6 res:1920x1200 hz:59 color_depth:8 scaling:off origin:(0,0) degree:0" "id:20700F90-F184-433E-5415-B629D7B59530 res:1792x1120 hz:59 color_depth:4 scaling:on origin:(-2992,515) degree:0" "id:E8E3905C-80D9-3E97-3210-EAEEA72F387D res:1200x1920 hz:59 color_depth:8 scaling:off origin:(-1200,-285) degree:90" &amp;&amp; exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A4C702F8-7805-4E78-B0EF-6458DE5B62BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>office-mode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Office-Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA498596-48E7-4718-8502-F396C270B44A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft Teams.app</string>
					<string>/System/Applications/Reminders.app</string>
					<string>/Applications/Notion.app</string>
					<string>/Applications/Signal.app</string>
					<string>/System/Applications/Mail.app</string>
					<string>/Applications/Discord.app</string>
					<string>/Applications/3CX Desktop App.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5772539D-EEE4-431F-90E1-57F4F439F832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "open -na 'Brave Browser' --args --profile-directory='Default'"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7BE6548E-EEF7-4F49-828E-17082E9FDE37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "open -na 'Brave Browser' --args --profile-directory='Profile 1'"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1D917633-576A-4544-AE50-5FBE764426E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for i in $(ps -ax | grep "busylight.sh" | awk '{print $1}'); do
	kill -9 $i
done
bash /usr/local/busylight/busylight.sh green</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B7A11D2-7A92-417E-87F0-955DF2DF56DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>1D917633-576A-4544-AE50-5FBE764426E4</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>2B7A11D2-7A92-417E-87F0-955DF2DF56DB</key>
		<dict>
			<key>note</key>
			<string>Green</string>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>5772539D-EEE4-431F-90E1-57F4F439F832</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>7BE6548E-EEF7-4F49-828E-17082E9FDE37</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>A4C702F8-7805-4E78-B0EF-6458DE5B62BD</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>EA498596-48E7-4718-8502-F396C270B44A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
